.poster-img {
    width: 13vw;
    min-width: 130px;
    height: auto;
    border-radius: 3px;
    box-shadow: 5px 5px 10px #888888;
}

.poster-img:hover {
    transform: scale(1.05);
    transition: transform .2s;
    box-shadow: 10px 10px 13px #888888;
}

.poster-error {
    width: 13vw;
    color: red;
}

.nav {
    width: 13vw;
    min-width: 130px;
    margin: 2.5vw;
}