.hero {
    height: 50vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-size: cover;
    margin: 3vh;
    max-width: 1000px;
    width: 100%;
    filter: drop-shadow(3px 3px 10px #888888);
}

.opaque-background {
    background-color: rgba(3, 78, 3, 0.6);
    color: white;
    border-radius: 3px;
    margin-left: 50px;
    padding: 8px;
}

.movie-tagline {
    align-self: flex-end;
    border-left: rgb(3, 78, 3) solid 7px;
    justify-self: flex-end;
    margin-top: auto;
    margin-right: 3vw;
    background-color: rgba(3, 78, 3, 0.6);
}