.hero {
    height: 50vh;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    background-size: cover;
    margin: 10px;
    max-width: 1000px;
    width: 100%;
}

.opaque-background {
    background-color: rgba(3, 78, 3, 0.6);
    color: white;
    /* border: solid 1px  rgba(3, 78, 3, 0.8); */
    border-radius: 3px;
    margin-left: 50px;
    padding: 8px;
}

.movie-tagline {
    align-self: flex-end;
    border-left: rgb(3, 78, 3) solid 7px;
    margin-top: 10vh;
    margin-right: 3vw;
    background-color: rgba(3, 78, 3, 0.6);
}