header {
  width: 95%;
  margin: 50px 2.5% 150px;
}

.title {
  font-size: 5rem;
  font-weight: normal;
  margin: 0;
  padding: 55px 0 20px 10px;
  width: 100%;
  border-bottom: 2px solid black;
}

.tomatillo {
  height: 150px;
  margin: 20px 5px 20px 0;
  padding: 0;
}

.logo-wrapper {
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.title-wrapper {
  display: flex;
  align-items: flex-start;
}

.tagline {
  align-self: flex-end;
  margin: 0;
  padding: 0;
  font-size: 2.5rem;
}

.poster-container {
  display: flex;
  margin: 0 100px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
