.poster-container {
  display: flex;
  margin: 0 2vw 10vh;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.error-message {
  margin: 5vh 3vw;
  text-align: center;
  font-size: 5rem;
  color: red;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}
