.movieDescription {
    display: flex;
    margin-left: 25px;
    justify-content: space-between;
    max-width: 1000px;
    width: 87%;
}

.stats {
    display: flex;
    flex-direction: column;
    margin: 0 20px 20px;
    border-radius: 3px;
    border:rgb(234, 237, 237) solid 2px;
    background-color: rgb(234, 237, 237);
    padding: 0 10px;
    width: 34%;
    min-width: 150px; 
    max-width: 200px;
}

.overview {
    width: 65vw;
    max-width: 660px;
    padding: 5px;
    padding-right: 5vw;
}

.stats p {
    font-size: medium;
    margin: 5px;
}

.stats h3 {
    text-align: center;
    margin: 0;
}

.genre-container {
    display: flex;
}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    max-width: 800px;
}