.movieDescription {
    display: flex;
    margin: 10px 25px;
    justify-content: space-between;
    max-width: 1200px;
}

.stats {
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 3px;
    border:rgb(234, 237, 237) solid 2px;
    background-color: rgb(234, 237, 237);
    padding: 10px;
    width: 30%;
    min-width: 150px; 
    height: 250px;
    max-width: 200px;
}

.overview {
    width: 55vw;
    max-width: 550px;
    padding: 5px;
    padding-right: 10vw;
}

.movie-tagline {
    border-left: rgb(13, 79, 13) solid 7px;
    width: 65vw;
    padding: 5px;
    padding-left: 10px;
}

.stats p {
    font-size: medium;
}

.Stats h3 {
    text-align: center;
}

.genre-container {
    display: flex;
}

.movie-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 10px;
    max-width: 800px;
}