.media {
    margin: 25px 40px 25px 25px;
    display: flex;
    justify-content: space-between;
    width: 85%;
}

.multiple-videos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 4px;
}

.main-video {
    width: 60vw;
    height: 33vw;
    border-radius: 3px;
    max-width: 800px;
    max-height: 450px;
}

.small-video {
    width: 25vw;
    height: 14vw;
    border-radius: 3px;
}